<h1><%= @recipe.name%></h1>

<div class="container">
  <div class="row">
    <div class="row">
    <div class="d-flex justify-content-end">
    <%= button_to(@recipe.public? ? "Privatize" : "Publish", toggle_public_recipe_path(@recipe), method: :put, class: "btn btn-info b-public") %>
    </div>
    <p>Preparation time: <%= @recipe.preparation%></p>
    <p>Cooking time: <%= @recipe.cooking%></p>
    <p>Description: <%= @recipe.desc%></p>
    
    <% if @recipe.user_id == current_user.id %>
    <div class="d-flex justify-content-between">
    <button class="generate-shopping-list"><%= link_to "Generate Shopping List", shopping_list_path %></button>
      <button class="add-ingredient"><%= link_to 'Add Ingredient', "/recipes/#{@recipe.id}/recipes_foods/new" %></button>
    </div>
    <% end %>

    </div>
    <div class="row">
    <% if @foods.length.positive?%>
    <table class="foods__table">
      <tr class="foods__table-header-row">
        <th>Food</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
      <tbody>
        <% @foods.each do |food|  %>
          <tr id="<%= dom_id food %>", class="foods__table-body-row">
             <td><%= food.name %></td>
            <td><%= food.recipes_foods.select {|recipe| recipe.food_id == food.id}[0].quantity%> <%= food.measurement_unit%></td>
            <td>$<%= food.price%></td>
            <% if current_user.id == @recipe.user.id%>
            <td>
                <%= button_to "Remove", recipe_recipes_food_path(@recipe.id, food.id), method: :delete %>
            </td> 
            <% end %>
          </tr>
        <% end %>
      <tbody>
    </table>

  <% else %>
    <p>No Ingredients to show. Add an ingredient from the button above</p>
  <% end %>
    </div>
  </div>
</div>


